<a href="https://colab.research.google.com/github/lanson94706/Study-Tensorflow-basic-/blob/main/Tensorflow_basic(%EC%95%84%EC%9D%B4%EB%A6%AC%EC%8A%A4_%ED%92%88%EC%A2%85_%EB%B6%84%EB%A5%98_%EC%98%88%EC%A0%9C%ED%95%99%EC%8A%B5).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 데이터의 분류
```
데이터의 종류에 따라 사용하는 알고리즘이 달라진다.
데이터가 양적 데이터라면 회귀(regression)을 사용하고, 데이터가 범주형 데이터라면 분류(classification)을 사용한다.
```

In [ ]:
import tensorflow as tf
import pandas as pd

In [ ]:
파일경로 = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/iris.csv'
아이리스 = pd.read_csv(파일경로)
아이리스.head()

In [ ]:
#원핫인코딩
인코딩 = pd.get_dmies(아이리스)
인코딩.head()

   꽃잎길이  꽃잎폭  꽃받침길이  꽃받침폭  품종_setosa  품종_versicolor  품종_virginica
0   5.1  3.5    1.4   0.2          1              0             0
1   4.9  3.0    1.4   0.2          1              0             0
2   4.7  3.2    1.3   0.2          1              0             0
3   4.6  3.1    1.5   0.2          1              0             0
4   5.0  3.6    1.4   0.2          1              0             0

In [ ]:
print(인코딩.columns)

Index(['꽃잎길이', '꽃잎폭', '꽃받침길이', '꽃받침폭', '품종_setosa', '품종_versicolor',
       '품종_virginica'],
      dtype='object')

In [ ]:
독립 = 인코딩[['꽃잎길이', '꽃잎폭', '꽃받침길이', '꽃받침폭']]
종속 = 인코딩[['품종_setosa', '품종_versicolor','품종_virginica']]
print(독립.shape, 종속.shape)

(150, 4) (150, 3)

In [ ]:
X = tf.keras.layers.Input(shape=[4])
Y = tf.keras.layers.Dense(3, activation = 'softmax')(X)
model = tf.keras.models.Model(X, Y)
model.compile(loss = 'categorical_crossentropy',
              metrics = 'accuracy')

In [ ]:
model.fit(독립, 종속, epochs = 10)
#학습이 되어가는 과정을 확인할 때는 accuracy를 확인하는 것보다 loss값을 확인하는 것이 바람직하다

Epoch 1/10
5/5 [==============================] - 0s 3ms/step - loss: 0.2976 - accuracy: 0.9600
Epoch 2/10
5/5 [==============================] - 0s 2ms/step - loss: 0.2975 - accuracy: 0.9600
Epoch 3/10
5/5 [==============================] - 0s 2ms/step - loss: 0.2974 - accuracy: 0.9600
Epoch 4/10
5/5 [==============================] - 0s 3ms/step - loss: 0.2974 - accuracy: 0.9600
Epoch 5/10
5/5 [==============================] - 0s 2ms/step - loss: 0.2956 - accuracy: 0.9600
Epoch 6/10
5/5 [==============================] - 0s 3ms/step - loss: 0.2973 - accuracy: 0.9600
Epoch 7/10
5/5 [==============================] - 0s 3ms/step - loss: 0.2950 - accuracy: 0.9600
Epoch 8/10
5/5 [==============================] - 0s 3ms/step - loss: 0.2950 - accuracy: 0.9600
Epoch 9/10
5/5 [==============================] - 0s 3ms/step - loss: 0.2944 - accuracy: 0.9600
Epoch 10/10
5/5 [==============================] - 0s 4ms/step - loss: 0.2937 - accuracy: 0.9600

In [ ]:
model.predict(독립[0:5])

array([[9.9563193e-01, 4.2273412e-03, 1.4078578e-04],
       [9.8740059e-01, 1.2122860e-02, 4.7652406e-04],
       [9.9276370e-01, 6.9423425e-03, 2.9402750e-04],
       [9.8409468e-01, 1.5129169e-02, 7.7610742e-04],
       [9.9621022e-01, 3.6595140e-03, 1.3022566e-04]], dtype=float32)

In [ ]:
print(종속[0:5])

   품종_setosa  품종_versicolor  품종_virginica
0          1              0             0
1          1              0             0
2          1              0             0
3          1              0             0
4          1              0             0

In [ ]:
#학습한 가중치
model.get_weights()

[array([[ 0.4205256 , -0.0619064 , -0.77207565],
        [ 1.5506634 , -0.38000703, -0.42745674],
        [-2.5359323 ,  0.19629674,  0.775643  ],
        [-1.9967813 , -0.39297503,  1.1570715 ]], dtype=float32),
 array([ 0.72004056,  0.33010367, -0.4051417 ], dtype=float32)]